* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}
body {
    margin: 1;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    height: 42px;
}
.logo img {
    height: 38px;
    margin: 0;
    margin-top: 1;
}
.logo h1 {
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-top: -6px
}
.menu-button {
    font-size: 30px;
    cursor: pointer;
    margin-left: calc(100vw - 41.563px);
    height: 42px;
}
.menu-button p {
    margin: -2px;
    height: 42px;
}
.menu.open {
    right: 0;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    height: 50px;
    visibility: hidden;
}
.menu.open ul li {
    visibility: visible;
}
.menu ul li a {
    display: -webkit-box;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: calc(100vw - 40px);
}
.homepageyotuba {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px - 60px);
    text-align: center;
    font-size: clamp(0.4rem, 4vw, 3rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index_version p {
    height: 40px;
    font-size: 32px;
}
@media (max-aspect-ratio: 1/1) {
    .logo {
        position: fixed;
        height: 40px;
        margin-left: calc(50vw - 94.27px);
    }
    .logo a {
        position: fixed;
        height: 42px;
        margin: -2;
        text-align: center;
        width: auto;
    }
    .menu {
        position: fixed;
        top: 40px;
        right: calc(-100vw - 1px);/*余裕を持たせる*/
        width: 100vw;
        height: calc(100% - 60px);
        background: black;
        transition: right 0.3s;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }
}
@media (min-aspect-ratio: 1/1) {
    .logo {
        position: fixed;
        height: 40px;
        margin-left: 16px;
    }
    .logo a {
        position: fixed;
        height: 42px;
        margin: -2;
        text-align: left;
        width: auto;
    }
    .menu {
        position: fixed;
        top: 40px;
        right: -251px;/*余裕を持たせる*/
        width: 250px;
        height: calc(100% - 60px);
        background: black;
        transition: right 0.3s;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }
}
